/*
 CSS for the accordian
*/
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  visibility: hidden;
  /*transition: height 0.3s ease;*/
  color: black;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
  margin-bottom: 1em;
  padding-top: 0em;
  visibility: visible;
}

.accordion label {
  #display: block;
}

/*
 Styling
*/
/*
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.accordion {
  margin-bottom: 1em;
}
*/

.accordion .handle {
  #margin: 0;
  #font-size: 1.125em;
  #line-height: 1.2em;
}

.accordion label {
  cursor: pointer;
  font-weight: normal;
}

.accordion label:hover,
.accordion label:focus {
  #background: #d8d8d8;
}

.accordion .handle label:before {
  font-family: courier;
  content: "+";
  display: inline-block;
  margin-right: 10px;
  font-size: 100%;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "-";
}

body {
  font-family:arial;
  background: tan;
  color: gray;
}  

@media (min-width: 1024px){
  body {
    width: 1024px;
  }
}

@media (max-width: 1023px){
  body {
    text-size-adjust: none;
    font-size:.4in;
  }
}

h1 {
  text-align: center;
  text-transform: lowercase;
  margin-top: 1em;
}

h2 {
  text-align: center;
  margin-left:.25em;
  padding:0;
  margin-bottom:.0em;
  margin-top:0;
  font-weight: normal;
  text-transform: lowercase;
  #font-family: Times;
  color: maroon;
}


h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-family: courier;
}


div.supercategory {
  #background-color: tan;
  #border: 3px outset grey;
}  
  

div.cat_content {
  margin-left: 1em;
  margin-right: 1em;
  
  border: 8px double gray;
  padding-right: 1em;
  padding-left: 1em;
}  
  

div.item_block {
  clear: both;
}

div.binnum {
  float: left;
  #border: outset 2px gray;
  width: 15%;
}  

div.item_name{
  float: left;
  width: 70%;
  font-weight:bold;
  font-family:arial;
}
div.item_price{
  float: right;
  width: 10%;
  #border: outset 2px gray;
}


div.description {
  text-align: left;
  clear: both;
  width: 70%;
  margin-right: 15%;
  padding-left: 15%;
  #border: outset 1px gray;
	margin-bottom: 1em;
}

